@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --yellow: #C0A400;
    --carrot: #EF6B18;
    --grayD: #636363;
    --grayC: #484848;
    --grayB: #242424;
    --grayA: #141414;
    --success: #2DDF54;
    --lime: #c9f31d;
    --coral: #0f9d55;
    --ink: #101010;
    --text: #5c5c5c;
    --blue: #79d5ff;
}

html {
  scroll-behavior: smooth;
}

* {
    /* font-family: Poppins; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none !important;
    font-family: "JetBrains Mono", monospace;
    
}

a {
    color: var(--lime);
    text-decoration: none;
}

a:hover {
    color: var(--lime);
    text-decoration: underline;
    cursor: pointer;
}

body {
    background-color: var(--grayA);
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    border-bottom: solid 1px var(--grayD);
    padding-top: 1em;
    padding-bottom: 0.3em;
}

h2,
h3,
h4,
h5{
    padding-top: 1em;
}


p {
    color: var(--text);
    padding: 1em;
}

hr {
    border: none;
    border-bottom: 1px var(--grayC) solid;
    /* width: 300px; */
    margin: 30px auto;

}

/* BTN */
.btn, .choice-btn {
    border: solid 1px var(--lime);
    padding: 3px 20px;
    margin: 5px 0;
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 1em;
    color: var(--lime);
}

.btn:hover, .choice-btn:hover {
    color: var(--lime);
    text-decoration: underline;
    cursor: pointer;

}

.btn-selected {
    background-color: var(--lime);
    color: var(--grayA);
}

.btn-selected:hover {
    /* background-color: var(--lime); */
    color: var(--grayB);
}

/* input[name=option-btn]{display: none;}

input[name=option-btn]:checked + .btn{
    background-color: var(--lime);
    color: var(--grayA);
} */

/* options */
/* .options .xml { display: none; }
.options .jetpack { display: none; }
.options .java { display: none; } */

.optionItem {
    display: none;
}

/* .options label:has(input[value="xml"]:checked) ~ .xml{  display: block; }
.options label:has(input[value="jetpack"]:checked) ~ .jetpack{  display: block; }
.options label:has(input[value="java"]:checked) ~ .java{  display: block; } */


/* bloco */
.bloco img {
    max-width: 100%;
}

.content {
    font-family: Poppins;
    width: 900px;
    margin: auto;
    /* background: rgba(var(--carrot), 50%) */
    padding: 1em;
    margin-top: 10em;
    margin-bottom: 10em;
}

.bg1 {
    padding: 1em  !important;
    background: rgb(from var(--grayB) r g b / 30%)  !important;
}

.post,
.post2 {
    /* font-family: Poppins; */
    width: 900px;
    max-width: 100%;
    margin: auto;
    /* background: rgba(var(--carrot), 50%) */
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.postSimple {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* .post:last-child, .postSimple:last-child{
    margin-bottom: 10em;
} */


/* MenuTop */

.MenuTop {
    background: var(--grayB);
    backdrop-filter: blur(12px);
    border-bottom-color: var(--lime);
    box-shadow: 0 8px 24px rgba(16, 16, 16, .06);
    color: var(--grayD);

    position: sticky;
    top: 0px;
    z-index: 3;
}

.MenuTop ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding: 18px 40px;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(4px);
    list-style-type: none;
}

.MenuTop ul li:hover {
    color: var(--lime);
    cursor: pointer;
}

/* MenuSide */



.MenuSide {
    background: var(--grayB);
    backdrop-filter: blur(12px);
    border-bottom-color: var(--line);
    box-shadow: 0 8px 24px rgba(16, 16, 16, .06);
    color: var(--grayD);
    width: 300px;

    position: fixed;
    left: 1em;
    top: 5em;
    /* transform: translateX(0%); */
    transition: 0.5s;
    transform: translateX(-97%);
}

.MenuSide ul {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 18px;
    padding: 18px 40px;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(4px);
    list-style-type: none;
 
}

.MenuSide ul li {
    padding: 1em;
}

.MenuSide ul li:hover {
    color: var(--lime);
    cursor: pointer; 
}

/* link2 */
.link2{
    color: var(--grayD);
}

.link2:hover{
    text-decoration: none;
}

/* @media (max-width: 1250px){

    .MenuSide{
        transform: translateX(-97%);
        transition: 0.5s;
        z-index: 3;
    }

    .MenuSide:hover{  
        transform: translateX(0%);
        transition: 0.5s;
        background-color: red;
    }
} */

.MenuSide {
    transform: translateX(-97%);
    transition: 0.5s;
    z-index: 3;
}

.MenuSide:hover {
    transform: translateX(0%);
    transition: 0.5s;
}

.e-xml {
    /* display: none; */
}

.e-jetpack {
    display: none;
}

/* imagezoom */
.imageZoom {
    display: block;
    /* padding: 1em 0; */
}

.imageZoom input{display: none}

.imageZoom input:checked + img {
    max-width: 100%;
}

.imageZoom input + img {
    max-width: 100px;
}

/* highlight */
.highlight{
    color: var(--blue);
}

/* CHOICE - ao clica no botão escolha a tela a  ser exibida */
 
.choice > *{ 
    display: none; 
}

.choice-0 > *:nth-child(1){ display: block !important; } 
.choice-1 > *:nth-child(2){ display: block !important; } 
.choice-2 > *:nth-child(3){ display: block !important; } 
.choice-3 > *:nth-child(4){ display: block !important; } 
.choice-4 > *:nth-child(5){ display: block !important; } 
.choice-5 > *:nth-child(6){ display: block !important; } 
.choice-6 > *:nth-child(7){ display: block !important; } 
.choice-7 > *:nth-child(8){ display: block !important; } 
.choice-8 > *:nth-child(9){ display: block !important; } 
.choice-9 > *:nth-child(10){ display: block !important; }

/* .choice-0{ grid-template-rows: 1fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr !important; } 
.choice-1{ grid-template-rows: 0fr 1fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr !important; } 
.choice-2{ grid-template-rows: 0fr 0fr 1fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr !important; } 
.choice-3{ grid-template-rows: 0fr 0fr 0fr 1fr 0fr 0fr 0fr 0fr 0fr 0fr !important; } 
.choice-4{ grid-template-rows: 0fr 0fr 0fr 0fr 1fr 0fr 0fr 0fr 0fr 0fr !important; } 
.choice-5{ grid-template-rows: 0fr 0fr 0fr 0fr 0fr 1fr 0fr 0fr 0fr 0fr !important; } 
.choice-6{ grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 1fr 0fr 0fr 0fr !important; } 
.choice-7{ grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 1fr 0fr 0fr !important; } 
.choice-8{ grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 1fr 0fr !important; } 
.choice-9{ grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 1fr !important; } */

/* .choice-0 > *{ overflow: hidden;  }
.choice-1 > *{ overflow: hidden;  }
.choice-2 > *{ overflow: hidden;  }
.choice-3 > *{ overflow: hidden;  }
.choice-4 > *{ overflow: hidden;  }
.choice-5 > *{ overflow: hidden;  }
.choice-6 > *{ overflow: hidden;  }
.choice-7 > *{ overflow: hidden;  }
.choice-8 > *{ overflow: hidden;  }
.choice-9 > *{ overflow: hidden;  } */


/* 
.choice-0 > *:nth-child(1){ grid-template-rows: 0 1fr 0 }
.choice-1 > *:nth-child(2){ grid-template-rows: 0 0 1fr; }
.choice-2 > *:nth-child(3){ grid-template-rows: 1fr; }
.choice-3 > *:nth-child(4){ grid-template-rows: 1fr; }
.choice-4 > *:nth-child(5){ grid-template-rows: 1fr; }
.choice-5 > *:nth-child(6){ grid-template-rows: 1fr; }
.choice-6 > *:nth-child(7){ grid-template-rows: 1fr; }
.choice-7 > *:nth-child(8){ grid-template-rows: 1fr; }
.choice-8 > *:nth-child(9){ grid-template-rows: 1fr; } */

/* LIST STYLE */
.list-style-1{
    list-style: none;
}
.list-style-1 li{
    padding: 5px 0;
}
