<nav class="MenuSide" >

  <ul>
    <li><a class="link2" href="#Icons">Icons</a></li>
    <li><a class="link2" href="#Carousel">Carousel</a></li>
    <li><a class="link2" href="#Tab">Tab</a></li>
    <li><a class="link2" href="#TextField">TextField</a></li>
    <li><a class="link2" href="#Checkbox">Checkbox</a></li>
    <li><a class="link2" href="#Image">Image</a></li>
    <li><a class="link2" href="#RowColumn">RowColumn</a></li>
    <li><a class="link2" href="#AlertDialog">AlertDialog</a></li>
    <li><a class="link2" href="#Tabs">Tabs</a></li>
    <li><a class="link2" href="#Sql">Sql</a></li>
  </ul>



  
  
  
  
  
  
  
  
 
</nav>